body{
    font-family: arial,sans-serif;
    background-color: lightgrey;
}
p{
    color: red;
    font-size: 19px;
}

h1{
    background-color: rgb(209, 182, 145);
}

p{
    color: green;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
}

.note{
    color: orange;
}
#intro{
    color: purple;
}
.box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 2px solid #000;
  margin: 10px;
}